body{
    margin:0;
    padding:0;
    background-color:rgb(255, 255, 255);
    
}


.header{

    height:100vh;
    background-size: cover;
    background-position:centre; 
    background-image:"nature.png";
}
 .center{
      display: flex;
      align-items: center;
      justify-content:center;
           
 }

 .form-group{
      width: 250px;

 }
 .btn{
     width:100px;
 }

 #result{

    position: absolute;
    top:50px;
    right:50;
    font-size:
 }